
<div class="flex-center">
  <h2 class="text-center">GithubUsers</h2>
</div>
<div class="flex-center">
  <div>
    <div class="form-control">
      <mat-form-field appearance="standard">
        <input
          matInput
          type="text"
          placeholder="Search gitHub users..."
          (keyup)="applySearch($event)"
        />
      </mat-form-field>
    </div>
    <div>
      <mat-radio-group aria-label="Select an option" [(ngModel)]="showData">
        <mat-radio-button value="1">Table</mat-radio-button>
        <mat-radio-button value="2">Grid</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</div>
<div class="flex-center" *ngIf="(users$ | async) && showData === '1'">
  <table mat-table [dataSource]="users$ | async">
    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef>Login</th>
      <td mat-cell *matCellDef="let element">{{ element.login }}</td>
    </ng-container>

    <ng-container matColumnDef="html_url">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let element">
        <a href="{{ element.html_url }}"> {{ element.html_url }} </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="detail">
      <th mat-header-cell *matHeaderCellDef>Detail</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-raised-button
          color="warn"
          class="btn btn-danger"
          class="btn btn-success"
          [routerLink]="['/', 'profile', element.login]"
        >
          Detail
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>

<div class="flex-center" *ngIf="(users$ | async) && showData === '2'">
  <div class="wraper">
    <div *ngFor="let user of users$ | async" class="align-self">
      <span>{{ user.login }}</span>
      <a href="{{ user.html_url }}"> {{ user.html_url }} </a>
      <div class="button">
        <button
          mat-raised-button
          color="warn"
          [routerLink]="['/', 'profile', user.login]"
        >
          Detail
        </button>
      </div>
    </div>
  </div>
</div>
